.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #222831;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    color: #EEEEEE;
}

h1 {
    text-align: center;
    padding: 0 0 2rem;
    font-size: 4rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

.cell {
    width: 7rem;
    height: 7rem;
    border: 1px solid black;
    box-shadow: 0 0 0 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.scoreboard {
    padding-top: 1rem;
    font-size: 3rem;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}

#text {
    padding-top: 2rem;
    font-size: 2rem;
}

#restartBtn {
    font-size: 1.5rem;
    padding: 5px 20px;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #393E46;
    color: white;
    cursor: pointer;
}

#restartBtn:active {
    transform: translateY(2px);
}

.nonModal{
    opacity: 0.2;
}

.modal {
    background-color: #EEEEEE;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 2rem;
}
.active{
    z-index: 999;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal>div:first-child{
    color: #222831;
    font-size: 2rem;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222831;
    font-size: 1.5rem;
    gap: 15px;
}

.input {
    color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

input {
    width: 10rem;
    border:none;
    border-radius: 5px;
    background-color: #222831;
    color:#EEEEEE;
    font-size: 1rem;
    padding: 2px 5px;
}

#submit{
    font-size: 1.5rem;
    padding: 5px 20px;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #222831;
    color: white;
    cursor: pointer;
}

#submit:active {
    transform: translateY(2px);
}